


.review{
   
    height: 125vh;
    object-fit: cover;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
}

                
                
.review .Slide{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.review .row{
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}

.review .carosal-inner-grid{
    margin: 0 auto;
}

.review .card-body{
    height: 55vh;
    margin: 1rem !important;
}

.contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 60%;
  }
  
  .item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
  }

  .card-body{
    gap: 1rem !important;

  }

  .card-body h5{
    line-height: 2rem;
  }

  .card-body .cart-sub-head{
    color:black;
    font-size: 12px;
    font-weight: 600;
  }

  .card-comments{
    color:#909090 !important;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3rem !important;

  }

  .card {
    padding: 10px;
    box-sizing: border-box;
  }

  .slick-slide > div{
    margin:  10px;
    overflow: hidden;
  }

 .review .ourportfolio-tittle{
  padding: 1rem;
 }

 .dots{
    color: black;
 }

 .curcle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
    align-items: center;
 }

  .curcle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
  }

  .curcle-contant{
    position: relative;
   
  }

   .curcle-img-name{
    position: absolute !important;
    top: 40%;
    left: 5rem;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
  }
  .curcle-img-name-place{
    position: absolute !important;
    top: 75%;
    left: 5rem;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 13px;
    
    
  }
