.Newsletter{
 align-items: center;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

    .subscribe-container {
      display: flex;
      align-items: center;
      max-width: 1000px;
      width: 100%;
      padding-bottom: 10px;
      margin-top: 2.5rem;
      font-size: 12px !important;
      gap: 1rem;
    }

    .subscribe-container input {
      flex: 1;
      outline: none;
      padding: 5px;
      border: none;
      border-bottom: 1px solid #878787;
    }

    .subscribe-container button {
      background: none;
      border: none;
      padding: 5px;
      border-bottom: 1px solid #878787;
      font-weight: 600;
      cursor: pointer;
    }

    .subscribe-container:focus-within {
      border-color: #000;
    } 

   