@media (min-width: 1400px) {

        .container{
            max-width: 1400px !important;
            margin: 0 auto;
        }
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
   
}

a{
    outline: none !important;
    text-decoration: none !important;
    
}

 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
} 

h3{
    
     margin: 1.2rem  !important;
}

h6{
    font-size: 1.1rem;
    color: #1C1C1C;

}

 .text{
     
    text-decoration: none;
    font-size: .7rem;
    font-weight: 700;
    color: rgb(185, 185, 185);
}

.text:hover{
   color: #CE967E;
    
}

.jewelery-item a{
    color: #292929 !important;
    font-weight: 600;
    font-size: .9rem;
}
.jewelery-item a:hover{
    color: #CE967E !important;
}

.jewwlwry-item-raiting{
    color:#c3c3c3 ;
    font-size:.8rem;
  
}

.price{
    align-items: center;
    font-size: 0.7rem;
}

.rating{
    color: darkgray;
    font-weight: 500;
}

.actualprice{
    color: #292929;
    font-weight: 600;
    font-size: 1rem;
}

.oldprice{
    color: #c3c3c3;
    font-weight: 600;
    font-size: .9rem;
    text-decoration: line-through rgb(220, 16, 16);
}

.captons-in-jewelery{
    line-height: 2;
    margin-top: 1rem;
}

/* button */
.round-button-black{
    width: 10rem;
    padding: 1rem !important;
    border-radius: 35px;
    font-family: auto;
    outline: none;
    border: none;
    margin-top: 1rem;
    background-color: #292929;
    color: #fff;
}

.round-button-black:hover{
    background-color: #CE967E ;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.side-head-sub-tittle {
     font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #777;
      margin-bottom: 8px;
}
 
